*{
	/*box-sizing: border-box;*/
	/*padding:0;
	margin:0;*/
}

nav{
	color:#fff;
}

.navbar{
	background:#333;
	/*padding:10px;*/
}

.navbar-default .navbar-brand{
	color:#fff;
}

.navbar-default .navbar-nav>li>a{
	color:white;
}

.navbar-default .navbar-nav>li>a:hover{
	color:#ebebeb;
}

.container-fluid{}

.container-main{
	height:100vh;
}

.col-lg-3{
	border:1px solid black;
}

.first-box{
	border-left:none;
}

.last-box{
	border-right:none;
}

.btn-info{
	margin-bottom:20px;
	padding:10px 50px;
	background-color:darkcyan;
}

.btn-info:hover{
	background-color:darkcyan;
}

.btn-info:active:focus{
	background-color:cyan;
	color:#000;
}

.jumbotron{
	color:#fff;
}

.jumboimg{
	text-align: center;
	background-image: url("../images/eruption.jpeg");
	background-position: bottom;
	background-size:cover;
	background-repeat: no-repeat;
	width:100%;
	/*vh:100%;*/
}

.btn-primary{
	margin-bottom:20px;
}

#rndm-gif-container img{
	height: 50vh;
	padding-bottom:100px;
}




